# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env

# Django
db.sqlite3
*.log
staticfiles/
media/

# Virtual environments
venv/
.venv/
.env/
.env

# Node / local runtime artifacts
node_modules/
uvicorn.log

# VS Code / IDE
.vscode/
.idea/

upload.py

svg_icons/

.claude/

desktop.ini

