#login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body.desktop #login-box {
    background-image: url("/static/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;}


body.desktop #login-logo {
    display: none;
}

body.mobile #login-logo {
    width: 80vw;
    margin: 0;
    margin-bottom: 20px;
}

body.mobile #login-logo img {
    width: 80vw;
}

body.desktop #login-box {
    background-position: center center;
}

body.mobile #login-box {
    background-position: center top;
}

#login-form {
    display: flex;
    flex-direction: column;
}

body.desktop #login-form {
    max-width: 300px;
    gap: 10px;
}

body.mobile #login-form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

/*.form-row input[type="password"] {
    flex: 2;
}

.form-row input[type="text"] {
    flex: 3;
}*/

#login-form input {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    box-sizing: border-box;
}
body.desktop #login-form input {
    padding: 12px;
    font-size: 1rem;
}

#id_username {
    border-radius: 10px;
}

#id_password {
    border-radius: 10px 0 0 10px;
}

body.mobile #login-form input {
    padding: 30px;
    font-size: 3rem;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
}

.reset-link {
    color: #ccc;
    text-decoration: none;
    font-size: 0.9em;
    margin-right: 10px;
}

body.mobile .reset-link {
    font-size: 2em;
}

body.desktop #reset-mobile {
    display: none;
}

body.mobile #reset-desktop {
    display: none;
}

.reset-link:hover {
    text-decoration: underline;
}

#form-errors {
    color: rgb(179, 0, 0);
    font-size: 10px;
    font-size: large;
    margin: 0;
}

#loginButton {
    flex-shrink: 0;
    background-color: rgb(255, 153, 1);
    color: rgb(0, 0, 0);
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    cursor: pointer;
    padding: 7px;
    outline: none;
    box-shadow: none;
    height: 100%;
    line-height: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.mobile #loginButton {
    padding: 19px;
}

body.mobile #loginButton img {
    height: 80px;
}

#reset-desktop {
    display: none;
    justify-content: left;
    margin: 5px;
    width: 20%;
}

#reset-mobile {
    display: none;
    justify-content: left;
    margin-top: 20px;
    width: 90vw;
}