#statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 2vh;
    gap: 3vh;
    overflow: hidden;
}

#dropdownWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#userSelect {
    font-size: 1rem;
    padding: 8px 12px;
    max-width: 300px;
}

body.mobile #userSelect {
    font-size: 1rem;
    padding: 12px;
    width: 66vw;
    border-radius: 12px;
}

#tableWrapper {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#trainerStatsTable {
  border-collapse: collapse;
  font-size: 0.9rem;
}

#trainerStatsTable th,
#trainerStatsTable td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#trainerStatsTable thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* same as table background */
  z-index: 10;
  border-bottom: 2px solid #999; /* slightly thicker for header */
  white-space: nowrap;
}

#trainerStatsTable tbody tr:nth-child(even) {
  background: #fafafa;
}

#chartsWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 90vw;
}

body.desktop #chartsWrapper {
    flex-direction: row;
}

body.mobile .canvaschart {
    width: 100%;
}

body.mobile #doughnutChart {
  width: 90vw;        /* Responsive width */
  display: block;     /* Remove inline spacing */
}

body.mobile #barChart {
  width: 90vw;        /* Responsive width */
  display: block;     /* Remove inline spacing */
}

body.mobile #placeholder {
    height: 30vh;
}

.info-tip {
  position: relative;
  cursor: help;
  text-decoration: underline dotted #ccc;
}

#infoButton:hover {
  cursor: pointer;
}

#modalLegend{
  display: none;
}

.legend-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
}

.legend-content div {
    display: block !important;
    text-align: left;
}

.legend-title {
    display: block !important;
    font-weight: bold;
    margin-bottom: 5px;
}

.legend-content p {
    display: block !important;
    margin: 0;
    text-align: left;
    line-height: 1.4;
}