{% extends "base.html" %}

{% load static %}
{% block content %}
<body>
	<div class="divMain" id="divH">
		<table id="tableH">
			<thead>
				<tr>
					<th id="buttonHome" class="tableHeadMain" onclick="home()">
                        <i class="fa-solid fa-house-chimney"></i>
                    </th>
				</tr>
			</thead>
		</table>
	</div>

    <div id="gameContainer">
        <canvas id="gameCanvas"></canvas>
        <div id="answerWrapper">
            <div id="resultBoxWrapper">
                <div id="resultBox"></div>
                <button id="nextButton" onclick="nextControl()">
                    <i class="fa-solid fa-forward"></i>
                </button>
                <button id="trainingButton" onclick="showRoutes()">Routen</button>
            </div>
            <div id="routeButtonContainer"></div>
        </div>
        <div id="modalP" class="modal">
            <div id="modalcP" class="modal-content">
                <span id="closeProjects" class="closeModal">&times;</span>

                <div id="projectTableDiv">
                    <div class="training-toggle">
                        <div class="tooltip">
                            <i id="competitionHover" class="fa-solid fa-book-open"></i>
                            <span class="tooltiptext">
                                <b>Trainingsmodus</b>
                                <br>
                                Routen werden nicht direkt angezeigt und sollen selber gefunden werden. Ein im Trainingsmodus absolviertes Projekt wird nicht mehr in der Rangliste aufgeführt.
                            </span>
                        </div>
                        <label class="switch">
                            <input type="checkbox" id="trainingToggle">
                            <span class="slider round"></span>
                        </label>
                        <div class="tooltip">
                            <i id="competitionHover" class="fa-solid fa-trophy"></i>
                            <span class="tooltiptext">
                                <b>Wettkampfmodus</b>
                                <br>
                                Der erste Versuch eines Projekts im Wettkampfmodus wird in der Rangliste aufgeführt. Die Entscheidungszeit und die zusätzliche Zeit für nicht-ideale Routen werden gemessen.
                            </span>
                        </div>

                    </div>
                    <table id="fileTable">
                        <thead>
                            <tr>
                                <th class="tableHeadProjects">Projekt</th>
                                <th class="tableHeadProjects">Posten</th>
                                <th class="tableHeadProjects">Status</th>
                            </tr>
                        </thead>
                        
                        <tbody id="tbody" class = "tbody">
                            <!-- File list will be dynamically inserted here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            
        </div>

        <button id="openButton" class="buttonMain" onclick="openModal()">Auswählen</button>
    </div>
    <script src="{% static 'js/play.js' %}"></script>
{% endblock %}