{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QCQ Pathfinder</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <style>
        :root {
            --font-xs: 11px;
            --font-sm: 12px;
            --font-md: 14px;
            --font-lg: 16px;
            --font-xl: 20px;

            --z-background: 0;
            --z-map: 10;
            --z-svg: 20;

            --z-controls: 30;
            --z-routes: 40;
            --z-selection: 50;

            --z-ui: 100;
            --z-dropdown: 200;
            --z-modal: 1000;
        }

    </style>
    {% block styles %}{% endblock %}
    {% block script %}{% endblock %}
</head>

<body>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    <script>
    function isMobileDevice() {
        return /Mobi|Android/i.test(navigator.userAgent);
    }

    if (isMobileDevice()) {
    // Do something for mobile
    document.body.classList.add('mobile');
    } else {
    // Do something for desktop
    document.body.classList.add('desktop');
    }
    </script>
    <script src="https://kit.fontawesome.com/6a29263a02.js" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>