{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="home-container">

    <div id="logoContainer">
          <img id="titleLogo" src="{% static 'img/logo.svg' %}">
    </div>
    {% if is_trainer %}
        <a class="home-button full-width" href="/coursesetter/">Erstellen</a>
    {% endif %}
    <a id="playButton" class="home-button full-width" href="/play/">Play</a>

    <div class="half-button-row">
        <a class="home-button half-width" href="/results/">Resultate</a>
        <a class="home-button half-width" href="/statistik/">Statistiken</a>
    </div>

    <div class="half-button-row">
        <a id="fbButton" class="home-button full-width" href="/feedback/"> <i class="fa-regular fa-comments"></i> Feedback</a>
    </div>
    <span class="link-row">
        <a class="password-link" href="/password_change/">Passwort ändern</a>
        {% if is_trainer %}
        
        <a class="password-link"
           href="{% static 'docs/Anleitung für Trainer_4.pdf' %}"
           target="_blank">
            Guide (PDF)
        </a>
        
        <a class="password-link"
           href="https://youtu.be/YS3Q4i0wBB8"
           target="_blank">
            Guide (Video)
        </a>
        {% endif %}
    </span>
    {% if is_trainer %}
    <span class="link-row">
        <a class="updateInfo">Update April 2026: Routen editieren, Batch Pathfinding</a>
    </span>
    {% endif %}
</div>
{% endblock %}