{% extends "base.html" %}

{% load static %}
{% block content %}
  <script>
    const isTrainer = "{{ is_trainer|yesno:'true,false' }}" === "true";
  </script>
	<div class="divMain" id="divH">
		<table id="tableH">
			<thead>
				<tr>
					<th id="buttonHome" class="tableHeadMain" onclick="home()">
            <i class="fa-solid fa-house-chimney"></i>
          </th>
				</tr>
			</thead>
		</table>
	</div>
  <div id="statsContainer">
    {% if is_trainer %}
      <!--<div id="dropdownWrapper">
        <select id="userSelect">
          <option value="clear">Athlet ...</option>
        </select>
      </div> -->
      <div class="training-toggle">
        <div class="tooltip">
            <i id="trainingIcon" class="fa-solid fa-book-open"></i>
            <span class="tooltiptext">
                <b>Trainingsposten</b>
            </span>
        </div>
        <label class="switch">
            <input type="checkbox" id="trainingToggle" checked>
            <span class="slider round"></span>
        </label>
        <div class="tooltip">
            <i id="competitionHover" class="fa-solid fa-trophy"></i>
            <span class="tooltiptext">
            <b>Wettkampfposten</b>
            </span>
        </div>
        <div id="infoButton">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>

      <div id="tableWrapper">
        <table id="trainerStatsTable">
          <thead>
            <tr>
              <th>Athlet</th>
              <th>Posten</th>
              <th>&#216 Entscheidungszeit</th>
              <th>&#216 Routenwahlfehler</th>
              <th style="color: #4CAF50">Schnellste</th>
              <th style="color: #FFC107">&lt;5%</th>
              <th style="color: #FF9800">&lt;10%</th>
              <th style="color: #F44336">&gt;10%</th>
              <th>Fehlerpotential-Erkennung</th>
              <th>Zeitsensitivität</th>
            </tr>
          </thead>
          <tbody>
            <!-- Filled dynamically via JS -->
          </tbody>
        </table>
      </div>

      <div id="modalLegend" class="modal">
        <div class="modal-content legend-content">
            <span class="closeModal" onclick="closeInfo()">&times;</span>
            
            <div class="legend-section">
                <b class="legend-title">Fehlerpotential-Erkennung</b>
                <p>Variation der Entscheidungszeit, wenn das Fehlerpotential hoch ist (großer, zeitlicher Unterschied zwischen verschiedenen Routen). Die Werte sind relativ zum Kaderdurchschnitt. Die Berechnung erfolgt ab 200 gültigen Resultaten.</p>
            </div>

            <div class="legend-section">
                <b class="legend-title">Zeitsensitivität</b>
                <p>Veränderung der Routenwahlfehler pro Sekunde längere Entscheidungszeit relativ zum Kaderdurchschnitt, pro Posten. Ein negativer Wert bedeutet, dass eine längere Entscheidungszeit zu geringerem Routenwahlfehler führt. Konfidenz in Klammer (grösserer Wert bedeutet ein zuverlässigeres Ergebnis.)</p>
            </div>
        </div>
    </div>

    {% else %}
      <div id="chartsWrapper">
        <canvas class="canvaschart" id="doughnutChart"></canvas>
        <canvas class="canvaschart" id="barChart"></canvas>
        <canvas class="canvaschart" id="placeholder" stle="width: 10px"></canvas>
      </div>
    {% endif %}

  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/stats.js' %}"></script>

{% endblock %}